* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

$bg: #243b4a;
$txtcolor: #f6f6f6;

body {
	background-color: $bg;
}

.container {
	background-image: url('../assets/bgimage.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.heading {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 3rem;
	color: $txtcolor;
	margin-bottom: 3rem;
}

.links {
	display: flex;
	flex-direction: column;
	text-align: center;
	
	a {
		font-family: 'Roboto Condensed', sans-serif;
		padding: 20px 10px;
		font-size: 2.25rem;
		font-weight: 300;
		color: #f6f6f6;
		text-decoration: underline;
	}
}

@media only screen and (min-width: 600px) {
  .heading {
  	font-size: 4rem;
  	margin-bottom: 3.5rem;
  }
}

@media only screen and (min-width: 970px) {
  .heading {
  	font-size: 5rem;
  	margin-bottom: 4rem;
  }

  .links {
  	display: flex;
  	flex-direction: row;

  	a {
  		padding: 20px 10px;
  	}
  }
}

@media only screen and (min-width: 1300px) {
  .heading {
  	font-size: 8rem;
  	margin-bottom: 4rem;
  }

  .links {
  	display: flex;
  	flex-direction: row;

  	a {
  		padding: 20px 10px;
  	}
  }
}